<% if(Rails.env.development? && ENV['ADD_STATE_JUMPER_TOOLBAR'] == 'true') %>
  <div id="dev_tool_bar">
    <ul>
      <li>
        <%= link_to 'CorrespContactName', main_app.build_and_display_path(:page_correspondence_contact_name) %>
      </li>
    </ul>
  </div>
<% end %>
