
<header class="text">
  <h1 class="form-title heading-large" id="groupLabel">
    <%= set_page_title t('.heading') %>
  </h1>
</header>

<fieldset>
  <legend class="visuallyhidden"><%= t '.legend' %></legend>

  River permissions

  Before you start

  You'll need to:

  read the guidance on river permissions
  decide which exemptions apply to your activities
  check that the activity will meet the conditions of each relevant exemption you wish to register

</fieldset>
