
.check-your-answers td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: none;
  vertical-align: top;
}

@media (min-width: 641px) {
  .check-your-answers td {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.check-your-answers .change-answer {
  font-weight: bold;
  padding-right: 0;
  text-align: right;
}
