
.ea-footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14286;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: none;

  .ea-footer li {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14286;
    margin-right: 10px;
    text-transform: none;
  }

  .inline {
    display: inline;
  }
}

@media (min-width: 641px) {
  .ea-footer {
    font-size: 16px;
    line-height: 1.25;
    padding-left: 30px;
    padding-right: 30px;

    .ea-footer li {
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
