// Footer links list
.ea-footer {
  padding-right: 15px; // TODO - can we use govuk_frontend_toolkit preset variables instead of hard coded pixels ?
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 400;
  text-transform: none;
}
@media (min-width: 641px){
  .ea-footer {
    padding-right: 30px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.ea-footer li {
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 400;
  text-transform: none;
  margin-right: 10px;
}
@media (min-width: 641px) {
  .ea-footer li {
    font-size: 16px;
    line-height: 1.25;
  }
}
.ea-footer .inline {
  display: inline;
}
