.govuk-related-items {
  border-top: 10px solid #005ea5;
  margin-top: 30px;
  padding-top: 5px;

  .heading-medium {
    margin-bottom: .5em;
    margin-top: .3em;
  }

  li {
    list-style-type: none;
    margin-bottom: 10px;
  }
}

table.cookies-table {
  margin: $gutter-half 0;
  td {
    vertical-align: top;
  }
}

.contact {
  border-left: 1px solid #bfc1c3;
  padding-left: 15px;

  span.type {
    display: block;
  }
}
