// Icons
// ==========================================================================
@import '_measurements';
@import '_device-pixels';

.icon {
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-important,
.icon-mail,
.icon-tick {
  display:inline;
  margin-right: 5px;
  @include device-pixel-ratio() {
    background-size: 100%;
  }
  width: 34px;
  height: 34px;
}

.icon-important img,
.icon-mail img,
.icon-tick img {
  width: 34px;
  height: 34px;
}

.icon h1 {
  display: inline;
}

