// GOV.UK front end toolkit
// Sass variables, mixins and functions
// https://github.com/alphagov/govuk_frontend_toolkit/tree/master/stylesheets

// Settings (variables)
@import "colours";                                // Colour variables
@import "font_stack";                             // Font family variables
@import "measurements";                           // Widths and gutter variables

// Mixins
@import "conditionals";                           // Media query mixin
@import "device-pixels";                          // Retina image mixin
@import "grid_layout";                            // Basic grid layout mixin
@import "typography";                             // Core bold and heading mixins, also external links
@import "shims";                                  // Inline block mixin, clearfix placeholder

// Mixins to generate components (chunks of UI)
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";
@import "design-patterns/breadcrumbs";

// Functions
// @import "url-helpers";                         // Function to output image-url, or prefixed path (Rails and Compass only)

// GOV.UK elements

@import "elements/helpers";                       // Helper functions and classes

// Generic (normalize/reset.css)
@import "elements/reset";

// Base (unclassed HTML elements)
// These are predefined by govuk_template
// If you're not using govuk_template, uncomment the line below.
// @import "elements/govuk-template-base";        // Base styles set by GOV.UK template

// Objects (unstyled design patterns)
@import "elements/layout";                        // Main content container. Grid layout - rows and column widths

// Components (chunks of UI)
@import "elements/elements-typography";           // Typography
@import "elements/buttons";                       // Buttons
@import "elements/icons";                         // Icons - numbered steps, calendar, search
@import "elements/lists";                         // Lists - numbered, bulleted
@import "elements/tables";                        // Tables - regular, numeric
@import "elements/details";                       // Details summary
@import "elements/panels";                        // Panels with a left grey border
@import "elements/forms";                         // Form - wrappers, inputs, labels
@import "elements/forms/form-block-labels";       // Chunky labels for radios and checkboxes
@import "elements/forms/form-date";               // Date of birth pattern
@import "elements/forms/form-validation";         // Errors and validation
@import "elements/breadcrumbs";                   // Breadcrumbs
@import "elements/phase-banner";                  // Alpha and beta banners and tags
@import "elements/components";                    // GOV.UK prefixed styles - blue highlighted box

.icon-important {
  width: 35px;
  height: 35px;
  background-image: image-url("icon-important.png");
}

//
// Styles below this point are copied from application.css in the prototype
//
.check-your-answers td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  vertical-align: top;
}

@media (min-width: 641px) {
  .check-your-answers td {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.check-your-answers .change-answer {
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

.unbranded {
  background: #fff;
}

.unbranded * {
  font-family: Arial !important;
}

.unbranded #footer {
  border: 0;
  background: #fff;
}

.govuk-related-items {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}

.govuk-related-items .heading-medium {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.govuk-related-items li {
  margin-bottom: 10px;
  list-style-type: none;
}

.form-postcode {
  width: 8em;
}

details summary {
  margin-bottom: 30px;
}

.postcode-prefix {
  display: block;
  line-height: 1.31579;
  margin-bottom: 0.5em;
}

span.postcode {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 0.5em;
}

span.exmpt {
  font-weight: bold;
  float: right;
  margin-right: -3em;
}

label.exemption {
  background-color: #ededed;
  border-color: #ededed;
  padding-right: 4em;
}

@media (min-width: 641px) {
  label.exemption {
    width: 99%;
  }
}

.ea-footer {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .ea-footer {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.ea-footer li {
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 400;
  text-transform: none;
  margin-right: 10px;
}

@media (min-width: 641px) {
  .ea-footer li {
    font-size: 16px;
    line-height: 1.25;
  }
}

.ea-footer .inline {
  display: inline;
}

.form-control {
    @include box-sizing(border-box);
    @include core-19;
    width: 100%;
    padding: 4px;
    background-color: $white;
    border: 2px solid $grey-1;
    // TODO: Remove 50% width set for tablet and up
    // !! BREAKING CHANGE !!
    // width set to auto to simulate removal
    @include media(tablet) {
      width: 100%;
    }
  }
  // Radio buttons
  .form-radio {
    display: block;
    margin: 10px 0;
    input {
      vertical-align: middle;
      margin: -4px 5px 0 0;
    }
  }
  // Checkboxes
  .form-checkbox {
    display: block;
    margin: $gutter-half 0;
    input {
      vertical-align: middle;
      margin: -2px 5px 0 0;
    }
  }
  // 6. Form control widths
  // ==========================================================================
  // TODO: Update these
  // Form control widths
  // chars  width in ems
  // 50     26
  // 35     18.5
  // 25     13.5
  // 15     8.5
  // 10     6
  // 5      3.5
  // 3      2.5
  .form-control-char-auto { // intended for select options that have pre-populated text
    width: 100%;
    @include media(tablet) {
      width: auto;
    }
  }
  .form-control-char-50 {
    width: 100%;
    @include media(tablet) {
      width: 26em;
    }
  }
  .form-control-char-35 {
    width: 100%;
    @include media(tablet) {
      width: 18.5em;
    }
  }
  .form-control-char-25 {
    width: 100%;
    @include media(tablet) {
      width: 13.5em;
    }
  }
  .form-control-char-15 {
    width: 100%;
    @include media(tablet) {
      width: 8.5em;
    }
  }
  .form-control-char-10 {
    width: 100%;
    @include media(tablet) {
      width: 6em;
    }
  }
  .form-control-char-5 {
    width: 100%;
    @include media(tablet) {
      width: 3.5em;
    }
  }
  .form-control-char-3 {
    width: 100%;
    @include media(tablet) {
      width: 2.5em;
    }
  }
